body{
   background-color: #F3F1FF;
}
.navbar-nav{
    margin-left: 1000px;
}

.navbar img{
    width: 40px;
}
h3{
    color: #562EFF;
    margin-top: 20px;
    font-weight: 700;
}
.player img{
  width: 56px ;
}
.top-player{
    width: 870PX;
    height: 679px;
}
.blog img{
    width: 177px;
}
.top-bloger a{
    text-decoration: none;
}
section{
    width: 870px ;
    background-color: #FFFFFF;
    padding: 15px;
    margin: 60px;
    
    
}
.card{
    border: 1px solid rgb(247, 243, 243);
    width: 280px;
    border-radius: 14px;
    padding-right: 50px;
}

.card-vitore{
    padding-left: 30px;
    padding-top: 10px;
}
.card img{
    width: 224px;  
}
.card-a{
  text-decoration: none;
  color: #e9856e;
  
}
.card-footer img{
    width: 20px;
    height: 20px;
    

}
.point{
    text-align: center;
    margin-top: 20px;
    color: #A2A2A2;
    
}
.card-footer{
    border: none;
    background-color: white;
    
}
.star{
    border-radius: 10px;
}
.card-footer button{
    border: none;
    color: #FF4A60;
    border-radius: 15px;
    background-color: rgb(243, 203, 209);
}
footer{
    text-align: center;
}

